@import url(fonts/clear-sans.css);
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=26454f26-7278-401f-abde-3442695b63c8");
@font-face {
  font-family: "AvenirNextW04Demi";
  src: url("fonts/7adddd91-84e0-4423-b40e-61945189916d.eot?#iefix");
  src: url("fonts/7adddd91-84e0-4423-b40e-61945189916d.eot?#iefix") format("eot"), url("fonts/b0908846-3d5c-4768-af33-5f968b1da156.woff") format("woff"), url("fonts/fe1602be-28ca-467e-9cd3-7bfc586f31bc.ttf") format("truetype"), url("fonts/440ef6e1-120f-4c11-9325-fc1d04d9d9a0.svg#440ef6e1-120f-4c11-9325-fc1d04d9d9a0") format("svg"); }
@font-face {
  font-family: "AvenirNextLTW02-Regular";
  src: url("fonts/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix");
  src: url("fonts/7a1b7ae7-5c29-481f-83ac-652e932c5509.eot?#iefix") format("eot"), url("fonts/3a42a252-67ff-4186-88cf-762f56719ca1.woff") format("woff"), url("fonts/dbc39ae3-2636-4653-a23e-8938bce2cf51.ttf") format("truetype"), url("fonts/8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8.svg#8e46b6cb-85f2-4400-a9d8-7cbd8ed30dd8") format("svg"); }

html {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #000;
  font-family: "AvenirNextW04Demi", "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }
} 